html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}


.calculator{
    display: flex;
    flex-direction: column;
    width: 280px;
}
.calculator-keys{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.key-row-1,.key-row-2,.key-row-3{
    width: 100%;
}
.key-row-1{
    display: flex;
}
.key-row-2{
    display: flex;
    justify-content: space-between;
}

.key-row-3{
    display: flex;
}
.numbers{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.zero{
    flex-basis: 66.6%;
}
.symbols{
    display: flex;
    flex-direction: column;
}


button{    
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f7f7f7;
    font-size: 25px;
    width: 70px;
}
.key-function{
    background-color: #797064;
    color: white;
}
.key-operator{
    background-color: orange;
    color: #fff;
}
.plus{
    flex-basis: 50%;
    background-color: red;
}
.key-equal{
    background-color: lightblue;
    flex-basis: 100%;
}
.calculator-display{
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
    padding: 20px;
    font-size: 2em;
    border-bottom: green 3px solid;
    text-align: right;
    margin-bottom: 5px;
}