.container{
    border: 2px solid black;
    height: 500px;
    width: 500px;
}
.box{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid yellow;

}
.box1{
    background-color: red;
    position: static;
}
.box2{
    background-color: green;
    position: static;
}
.box3{
    background-color: blue;
    position: static;
}
.box5{
    background-color: purple;
    position: relative;
    top:50px;
    left:50px;
}
.container2{
    border: 2px solid black;
    height: 500px;
    width: 500px;
    position: relative;
}
.box8{
    position: absolute;
    top: 50px;
    left:50px;
    background-color: rgb(219, 39, 195);
}