#parent{
    width: 600px;
    background-color: aquamarine;
    padding: 15px;
    border: solid 2px greenyellow;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header header header header"
    "menu content content content content ads"
    "menu content content content content ads"
    "menu content content content content ads"
    "footer footer footer footer footer footer"
    ;
    gap: 5px;
}
.header{
    grid-area: header;
    border: 1px solid black;
    text-align: center;
    background-color: bisque;
}
.footer{
    grid-area: footer;
    border: 1px solid black;
    text-align: center;
    background-color: darkgoldenrod;
}
.menu{
    grid-area: menu;
    border: solid black 1px;
    background-color: darkseagreen;
    font-size: small;
}
.content{
    grid-area: content;
    border: black solid 1px;
    text-align: center;
    padding: 15px;
    background-color: beige;
}
.ads{
    grid-area: ads;
    padding: 25px;
    border: solid black 1px;
    background-color: cyan;

}