.div{
    background-color: blueviolet;
    height: 200vh;
    width: 100px;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: red;
}