.div-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
button {
  margin: 10px;
}
.input-div {
  margin-top: 50px;
}
