* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: azure;
}
.container {
    width: 100vw;
    height: 100vh;
    overflow-x: none;

}

.navContainer {
background: #FD1D1D;
background: linear-gradient(90deg, rgba(253, 29, 29, 0.65) 60%, rgba(252, 176, 69, 0.67) 100%);
min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    
    margin-left: 20px;
    margin-right: 20px;

}

.navList {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;

}

#navLogo {
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}

#navItems {
    color: white;
    font-size: 2.5rem;
    display: flex;
    gap: 5px;
}
a{
    text-decoration: none;
color: rgb(16, 73, 83);
font-size: 2.5rem;
margin-right: 10px;
}

.footerBox{
    background: #FD1D1D;
background: linear-gradient(90deg, rgba(253, 29, 29, 0.65) 60%, rgba(252, 176, 69, 0.67) 100%);
width: 100vw;
text-align: center;
min-height: 40px;

}
.footerBox p{
    color: azure;
    font-size: 2rem;
}


.contentBox{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 1px 1px 20px black;
    margin-top: 10px;
    margin-bottom: 20px;
    
}
.item{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.ulItems{
    padding-left: 30px;
}
.right img{
    border-radius: 20px;
    height: 350px;
    
    transition: all 0.8s linear 0s;
    
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right :hover{
    transform: scale(1.2);
}
.right{
    position: relative;
    overflow: hidden;
    
    transform: all  0.6s linear 0s;
}
.right .overlay{
    position: absolute;
    top: 0;
    left: 9;
    height: 100%;
    width: 100%;
    background-color: rgba(65, 65, 60, 0.603);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: white;
    opacity: 0;
}

.right :hover.overlay{
    opacity: 1;
    transition: all 0.6s linear 0s;
}

header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
     background: #f8b400;
}
body{
    padding-top: 100px;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 1000;
     background: #f8b400;
}