body{
    height: 500px;
    width: 1000px;
    background-color: #F4F2FD;
}
.container-div{
    width: 962px;
    height: 427px;
}
.div-box{
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 262px;
    height: 363px;
    
}