.container-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  padding-top: 20px;
}
button {
  width: 200px;
  height: 50px;
  margin: 40px;
  font-weight: 800;
  border: 2px dotted;
  border-radius: 15px;
  cursor: pointer;
}
.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}
