* {
  margin: 0px;
  padding: 0px;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(233, 233, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote-box {
  width: 300px;
  min-height: 150px;
  height: auto;
  overflow: hidden;
  background-color: azure;
  border-radius: 20px;
  padding: 20px;
  animation: fade 0.4s ease-in;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button {
  width: 250px;
  height: 50px;
  margin: 10px 0px 0px 0px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  background-color: aquamarine;
}
button:hover {
  background-color: rgb(49, 192, 192);
  color: aliceblue;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.error {
  color: red;
  font-size: 20px;
}
.quote {
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;
  line-height: 1.4;
}
.author {
  font-style: italic;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.685);
  text-align: right;
  padding-top: 25px;
  border-top: 1px solid #ccc;
  margin-top: 12px;
}
