/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

#container {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}