.container-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
  gap: 20px;
}

input {
  height: 40px;
  font-size: 25px;
}
