.container-div {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #e0f7fa, #e8f5e9);
}
input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 2px solid #ccc;
  outline: none;
}
input:focus {
  border-color: #00796b;
}
button {
  height: 45px;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 12px;
  background-color: #00796b;
  cursor: pointer;
  color: white;
  border: none;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #004d40;
}
.status-div {
  font-size: 18px;
  margin-top: 20px;
}
.title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #11ad9b;
}
.bmi-div {
  width: 320px;
  background-color: white;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}
.bmi-div:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.reset-btn {
  margin-top: 10px;
  background-color: #e0e0e0;
  color: #ffffff;
  border: none;
}

.reset-btn:honver {
  background-color: #bebaba;
}
