.container-div {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 50px;
}
.colors-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: purple;
}

.black {
  background-color: black;
}
.white {
  background-color: white;
}
.beige {
  background-color: beige;
}
