.box1{
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px 20px 30px 40px;
}
.box2{
    border-style: solid;
    border-width: 12px;
    border-color: red green yellow blue;

    border-top-left-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius:80px;
}
div{
    margin-bottom: 15px;
}
.box3{
    border-top-style: dashed;
    border-right-style: dotted;
    border-bottom-style: double;
    border-left-style: outset;
}