.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 200px;
  border: 1px solid grey;
  background-color: #f7f7f7;
  border-radius: 15px;
}
.timer h1 {
  font-size: 60px;
  margin-bottom: 20px;
}
button {
  width: 60px;
  height: 20px;
  margin: 10px;
}
.btn-reset {
  width: 140px;
}
